body {
	font-family: tahoma, Arial, sans-serif;
	background-color:#000000;
	color:#c0c0c0;
	}
#topbit {
  text-align: center;
  font-family: Book Antiqua;
}
	
h1 {
	font-size:32px;
	color:#ffffff;
	background-color:#00000;
	}
	
h2 {
	font-size:28px;
	color:#336699;
	background-color:#222222;
	}
h3 {
	font-size:24px;
	color:#22ffff;
	background-color:#222222;
	}
h4, h5, h6 {
	font-size:18px;
	color:#ff88ff;
	background-color:#222222;
	}
ul {
  text-decoration: none;
  list-style-type: none;
  text-align:left;
}
a {
	text-decoration:none;
	color:#ffffff;
	}
	
a:hover {
	color:#CC98DC;
	}
